.cache/
.idea/
.vs/
.vscode/
bin/
docs/
node_modules/
public/
lib/
src/
test/

.gitignore
.npmrc
.prettierrc
favicon.svg
index.html
nodemon.json
package-lock.json
tsconfig.json
tsconfig.build.json
vite.config.js
vitest.config.ts
yarn-error.log
yarn.lock
